@import "tailwindcss";
@import "@nuxt/ui";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





/* body {
  background-color: #f9fafb;
} */